#main-header {
    font-family: 'IM Fell English SC', serif;
    text-align: center;
}

#main-body-content {
    background-color: rgb(152, 240, 144);
}

#main-copy-hd {
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(152, 240, 144))
}

a:hover {
    font-weight: bold;
}

a:active {
    color: rgb(122, 190, 144)
}

.nav {
    font-family: 'IM Fell English SC', serif;
}

.navbar {
    background-color: rgb(152, 240, 144);
}

.footer {
    text-align: center;
}