body {
    background-color: #EDF5E1;
}

#main-header {
    font-family: 'IM Fell English SC', serif;
    text-align: center;
}

#main-body-content {
    background-color: #5CDB95;
    margin-bottom: 40px;
}

#main-copy-hd {
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    font-size: 20px;
}

hr {
    margin: 5px 0px;
    border-color: #000;
}

.jumbotron {
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    background-color: #5CDB95;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(3, 10, 144);
}

a:hover {
    font-weight: bold;
}

a:active {
    color: #EDF5E1;
}

.nav {
    font-family: 'IM Fell English SC', serif;
}

.navbar {
    background-color: #5CDB95;
    margin-bottom: 0px;
}

.navbar a {
    color: #000;
}

.footer {
    text-align: center;
}

footer {
    background-color: #5CDB95;
    margin-top: 40px;
    margin-bottom: -10px;
}

table {
    width: 100%;
}

.jumbotron {
    padding-bottom: 15px;
}

#menu {
    margin-bottom: 40px;
}